[core]
    editor = vim
    pager = less -+$LESS -FRSX
    eol = lf
[user]
    name = Kane Dou
    email = douqilong@gmail.com
[color]
    branch = auto
    diff = auto
    status = auto
    grep = auto
    interactive = auto
    showbranch = auto
    ui = auto
[alias]
    a = add
    ap = add --patch
    br = branch
    bra = branch --all --verbose
    co = checkout
    cob = checkout -b
    c = commit
    cm = commit --message
    ca = commit --amend
    cam = commit --amend --message
    caa = commit --amend --no-edit
    cp = cherry-pick
    d = diff
    ds = diff --cached
    dt = difftool
    f = fetch
    fa = fetch --all
    lm = log --stat --summary --graph --decorate
    l1 = log --oneline --decorate --graph
    lp = log --oneline --decorate
    m = merge
    mt = mergetool
    pl = pull
    ps = push
    psf = push --force-with-lease
    psm = push me
    psfm = push --force-with-lease me
    plr = pull --rebase
    rmfs = rm --cache
    rmo = !git ls-files --exclude-standard --others | xargs rm -rf
    rb = rebase
    rba = rebase --abort
    rbc = rebase --continue
    rbi = rebase --interactive
    ru = remote update
    rh = reset --hard
    s = show
    ss = stash
    ssa = stash apply
    ssl = stash list
    ssp = stash pop
    st = status --short --branch
    su = submodule update --recursive
[push]
    default = current
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[merge]
    tool = vimdiff
    defaultToUpstream = true
[github]
    user = kols
[filter "gpg"]
    clean = "gpg2 --no-armor --encrypt --default-recipient-self"
    smudge = "gpg2 --decrypt"
