/*
!.gitignore
!.gitattributes
!.gitconfig

# shell
!.zshrc
!.zshenv
!.zlogin

# utils
!.tmux.conf
!.ssh/

# vim
!.vim/
!.vimrc

# ruby
!Gemfile
!.gemrc

# python
!requirements.txt
!.pypirc

# gpg pub key
!.gnupg/

# emacs
!.emacs
