[core]
    editor = nvim
    pager = nvim -R
    # pager = diff-so-fancy | less --tabs=4 -RFX
    eol = lf
[user]
    name = Kane Dou
    email = douqilong@gmail.com
[color]
	ui = true
    pager = no
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
[alias]
    a = add
    ap = add --patch
    br = branch
    bra = branch --all --verbose
    co = checkout
    cob = checkout -b
    c = commit
    cm = commit --message
    ca = commit --amend
    cam = commit --amend --message
    caa = commit --amend --no-edit
    cp = cherry-pick
    d = diff
    ds = diff --cached
    dt = difftool
    f = fetch
    fa = fetch --all
    lm = log --stat --summary --graph --decorate
    l1 = log --decorate --graph --pretty=format:'%C(auto)%h%d%Creset %s %C(bold black)by @%an on %cr%Creset'
    l1m = log --stat --graph --decorate --pretty=tformat:'%C(auto)%h%d%Creset %s %C(bold black)by @%an on %cr%Creset'
    lp = log --oneline --decorate
    m = merge
    mt = mergetool
    pl = pull
    ps = push
    psf = push --force-with-lease
    psm = push me
    psfm = push --force-with-lease me
    plr = pull --rebase
    plrm = pull --rebase origin master
    plrd = pull --rebase origin develop
    rmfs = rm --cache
    rmo = !git ls-files --exclude-standard --others | xargs rm -rf
    rb = rebase
    rba = rebase --abort
    rbc = rebase --continue
    rbi = rebase --interactive
    ru = remote update
    rh = reset --hard
    rv = remote -v
    s = show
    ss = stash
    sss = stash save --include-untrackd
    ssa = stash apply
    ssl = stash list
    ssp = stash pop
    st = status --short --branch
    su = submodule update --recursive
    sbta = "!f() { git subtree add --prefix $2 --squash $1 ${3:-master}; }; f"
    sbtu = "!f() { git subtree pull --prefix $2 --squash $1 ${3:-master}; }; f"
    uc = reset --soft HEAD^
[push]
    default = current
[diff]
    tool = icdiff
[difftool "icdiff"]
    cmd = icdiff --line-numbers $LOCAL $REMOTE
    prompt = false
[merge]
    tool = vimdiff
    defaultToUpstream = true
[filter "gpg"]
    clean = "gpg2 --no-armor --encrypt --default-recipient-self"
    smudge = "gpg2 --decrypt"
[github]
    user = kols
[ghq]
    root = ~/.ghq
    root = ~/go/src
    root = ~/work/repos
[status]
    showUntrackedFiles = all
[transfer]
    fsckObjects = true
[credential]
	helper = osxkeychain
