Pygments
ansible
ansible-lint
coursera-dl
flake8
git-remote-dropbox
haxor-news
httpie
http-prompt
ipython<6; python_version < '3'
ipython; python_version >= '3'
jedi
jupyter
matplotlib<3; python_version < '3'
pip-autoremove
tcconfig; sys_platform == 'linux'
tmuxp
virtualenv
wharfee
wheel
eg
