Pygments
ansible
ansible-lint
coursera-dl
flake8
git-remote-dropbox
haxor-news
httpie
http-prompt
ipython<6.0.0
jedi
jupyter
matplotlib
mitmproxy==0.18.2
pip-autoremove
pylint
pudb
tcconfig
tmuxp
trypackage
virtualenv
yapf
yamllint
wharfee
wheel
