<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>kanedou.xhyve.ubuntu</string>
	<key>WorkingDirectory</key>
	<string>/Users/kane/devel/ubuntu</string>
    <key>ProgramArguments</key>
    <array>
	  <string>./headless.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
	<key>StandardErrorPath</key>
	<string>/Users/kane/devel/ubuntu/log/stderr.log</string>
	<key>StandardOutPath</key>
	<string>/Users/kane/devel/ubuntu/log/stdout.log</string>
  </dict>
</plist>
